{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="col-sm-10">
            {{ form(our_form) }}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
